<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GrislyGrotto.DAL.SQLServer.Properties.Settings.GrislyGrottoDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GrislyGrottoDB.mdf;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>