<div class="js_loadMore">
    <input id="Count" type="hidden" value="@Model.Count" />
    <div data-bind="foreach: list">
        <div class="listPost">
            <h3>
                <a data-bind="attr: { href: '/posts/specific/' + ID }, text: Title"></a>
            </h3>
                
            <span class="postDetails" data-bind="text: Author.DisplayName"></span>
            <span> - </span>
            <span class="postDetails" data-bind="text: $root.dateFormatted($data)"></span>
            <br />
            <a class="postDetails" data-bind="attr: { href: '/posts/specific/' + ID + '#Comments' }">Comments (<span data-bind="    text: Comments.length"></span>)</a>
            
            <span class="postDetails" data-bind="visible: Tags.length > 0">Tagged as:</span>
            <!-- ko foreach: Tags -->
            <span class="postDetails">
                <a data-bind="attr: { href: '/home/tag/' + Text }, text: DisplayText"></a>;
            </span>
            <!-- /ko -->

            <div class="content" data-bind="html: Content"></div>
        </div>
    </div>
    <div data-bind="visible: isLoading" class="loading"></div>
    <button data-bind="click: loadMore, visible: showLoadMore">Load More</button>
</div>