@model GrislyGrotto.ViewModels.Home.LatestViewModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Latest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pageHeading">Latest Posts</h2>

@foreach (var post in Model.Posts)
{
    Html.RenderPartial("_Post", post);
}

@Html.Partial("_KnockOutLoadMore")
@Scripts.Render("~/app/latest.js")