@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="column one-half">
        <label for="freeText">Free text search</label>
        <input id="freeText" type="text" data-bind="value: freeText" />
    </div>
</div>

<div class="row">
    <label>
        <input type="checkbox" data-bind="checked: storiesOnly" />
        <span class="label-body">Stories Only?</span>
    </label>
    <label>
        <span class="label-body">Author</span>
        <select data-bind="value: author, options: authorOptions, optionsCaption: '(both)'"></select>
    </label>
    <label>
        <span class="label-body">Order By Date</span>
        <select data-bind="value: orderBy, options: orderByOptions"></select>
    </label>
</div>

<input type="button" value="Search" class="button-primary" data-bind="click: newSearch" />

<div data-bind="visible: results().length > 0">
    <h2>Results</h2>

    <div data-bind="foreach: results">
        <article class="searchResult">
            <h2>
                <a href="" data-bind="text: title + (isStory ? ' (Story)' : ''), attr: { href: '/p/' + key }"></a>
            </h2>
            Posted by <span data-bind="text: author"></span> on <span data-bind="text: date"></span>.
            <p data-bind="html: snippet"></p>
        </article>
    </div>

    <div data-bind="visible: moreAvailable">
        <input type="button" value="More" class="button" data-bind="click: getMore" />
    </div>
</div>
<h2 data-bind="visible: noResults">No results found :(</h2>

@section Scripts {
    <script type="text/javascript">ko.applyBindings(new GrislyGrotto.Search('@Url.Action("RunSearch")'));</script>
}