[Unit]
Description=GrislyGrotto Website

[Service]
WorkingDirectory=/var/www/grislygrotto
ExecStart=/var/www/grislygrotto/grislygrotto.so -db ./grislygrotto.db -url ":5000"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-grislygrotto
User=www-data

[Install]
WantedBy=multi-user.target