<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<authentication mode="Windows"/>
        <customErrors mode="Off" />
		<httpHandlers>
			<add verb="*" path="*" type="GrislyGrotto.SiteHandler"/>
		</httpHandlers>
		<httpModules/>
		<compilation debug="true"/>
  </system.web>
</configuration>
