<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <authentication mode="Windows" />
    <httpHandlers>
      <add path="/Posts/Rss" verb="GET" type="GrislyGrotto.Rss, GrislyGrotto" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Rss" path="/Posts/Rss" verb="GET" type="GrislyGrotto.Rss, GrislyGrotto" />
      <add name="UserContent" path="/UserContent" verb="GET" type="GrislyGrotto.UserContent, GrislyGrotto" />
      <add name="UserContentUpload" path="/Upload.htm" verb="POST" type="GrislyGrotto.UserContent, GrislyGrotto" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ExpandedWebHttpBinding">
          <readerQuotas maxDepth="32" 
                        maxStringContentLength="5242880" 
                        maxArrayLength="16384" 
                        maxBytesPerRead="4096" 
                        maxNameTableCharCount="16384"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="GrislyGrotto.BlogBehaviour.EndPoint">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GrislyGrotto.BlogBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="GrislyGrotto.BlogBehavior" name="GrislyGrotto.Blog">
        <endpoint address="" behaviorConfiguration="GrislyGrotto.BlogBehaviour.EndPoint" binding="webHttpBinding" bindingConfiguration="ExpandedWebHttpBinding" contract="GrislyGrotto.Blog">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="GrislyGrottoEntitiesAzure" connectionString="metadata=res://*/GrislyGrottoEntitiesAzure.csdl|res://*/GrislyGrottoEntitiesAzure.ssdl|res://*/GrislyGrottoEntitiesAzure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jh06u20nvx.database.windows.net,1433;initial catalog=grislygrotto_db;persist security info=True;user id=grislygrotto_user;password=***REMOVED***;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>