<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <authentication mode="Windows"/>
    <httpHandlers>
      <add path="/Posts" verb="*" type="GrislyGrotto.PostsServiceHandler, GrislyGrotto"/>
    </httpHandlers>
    <httpModules/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
    <handlers>
      <add name="PostService" path="/Posts" verb="*" type="GrislyGrotto.PostsServiceHandler, GrislyGrotto"/>
    </handlers>
  </system.webServer>
</configuration>