{{define "master"}}
<!DOCTYPE html>
<html>
    <head>
        <title>The Grisly Grotto - Deviant Minds Think Alike</title>
        <link href="/static/site.css" rel="stylesheet" />
        <meta charset="utf-8" />
        <meta name="description" content="Personal blog site of Chris Pritchard and Peter Coleman" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="application-name" content="The Grisly Grotto" />
        <link rel="icon" type="image/png" href="/static/favicon.png" />
    </head>
    <body>
        <header>
            <a href="/"><h1 class="site-title">The Grisly Grotto</h1></a>
        </header>
        <nav>
            {{ if loggedIn }}
                <a href="/editor">New Post</a>
            {{ else }}
                <a href="/login">Login</a>
            {{ end }}
            <span>&nbsp;|&nbsp;</span>
            <a href="/archives">Archives</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="/search">Search</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="/about">About</a>
        </nav>
        {{template "content" .}}
        <footer>
            Grisly Grotto v17.0. Site designed and coded by Christopher Pritchard, 2020
        </footer>
    </body>
</html>
{{end}}