{{ define "content" }}
<div class="page-form">
    <h2>Account Details</h2>
    <form method="POST" class="account-details-container">
        <div>
            <label for="displayName">Display Name</label>
            <input id="displayName" name="displayName" type="text" value="{{ .DisplayName }}" maxlength="50" />
        </div>
        <div>
            <input type="submit" value="Update" />
            <span class="error">{{ .DisplayNameError }}</span>
            {{ if .DisplayNameSuccess }}<span>Successfully Updated</span>{{ end }}
        </div>
    </form>
    <form method="POST" class="account-details-container" enctype="multipart/form-data">
        <div>
            <label for="profileImage">Profile Image</label>
            <img src="/profile-image/{{ .Username }}" class="profile-image" />
            <input id="profileImage" name="profileImage" type="file" accept=".jpg, .jpeg, .png, .gif" />
        </div>
        <div>
            <input type="submit" value="Update" />
            <span class="error">{{ .ImageError }}</span>
            {{ if .ImageSuccess }}<span>Successfully Updated</span>{{ end }}
        </div>
    </form>
    <form method="POST" class="account-details-container">
        <div>
            <label for="oldPassword">Old Password</label>
            <input id="oldPassword" name="oldPassword" type="password" maxlength="100" />
        </div>
        <div>
            <label for="newPassword">New Password</label>
            <input id="newPassword" name="newPassword" type="password" maxlength="100" />
        </div>
        <div>
            <label for="newPasswordConfirm">Confirm New Password</label>
            <input id="newPasswordConfirm" name="newPasswordConfirm" type="password" maxlength="100" />
        </div>
        <div>
            <input type="submit" value="Update" id="password-update" />
            <span class="error" id="password-error">{{ .PasswordError }}</span>
            {{ if .PasswordSuccess }}<span>Successfully Updated</span>{{ end }}
        </div>
    </form>
</div>
{{ end }}