{{ define "content" }}

<h2>
    {{ if .NewPost }}
        New Post
    {{ else }}
        Edit Post
    {{ end }}
</h2>

<form method="POST">

    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ .Title }}" />

    <label for="content">Content <span class="error">{{ .PostError }}</span></label>
    <textarea id="content" name="content" cols="100" rows="35">{{ raw .Content }}</textarea>

    <div class="editor-help">
        The markdown editor supports syntax specified <a href="https://www.markdownguide.org/cheat-sheet/">here</a>. 
        <br />Basically type normally, use *text* for italic, **text** for bold,
        <br />- to create bullet points etc. Its faily intuitive.
        <br />Use [title](url) will create a link.
    </div>

    <div class="render-mode">
        <label>
            <input type="radio" name="render-mode" id="render-mode" value="Markdown" {{ if .IsMarkdown }}checked="checked"{{ end }} />
            &nbsp;Markdown
        </label>
        <label>
            <input type="radio" name="render-mode" id="render-mode" value="Raw HTML" {{ if not .IsMarkdown }}checked="checked"{{ end }} />
            &nbsp;Raw HTML
        </label>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="isStory" name="isStory" {{ if .IsStory }}checked="checked"{{ end }} />
        <label for="isStory">Is Story</label>
    </div>

    <div class="post-submit">
        <input id="submit" type="submit" value="Submit" />
        <span class="error">{{ .PostError }}</span>
    </div>
</form>

{{ end }}