{{ define "content" }}
<h2>Latest Posts</h2>
{{ range .Posts }}
    <div>
        <a href="/post/{{ .Key }}"><h3 class="post-title">{{ .Title }}</h3></a>
        <div class="post-summary">Posted by {{ .Author }} at {{ formatDate .Date }}. <a href="/post/{{ .Key }}#comments">Comments ({{ .CommentCount }})</a></div>
        <div class="post-content">
            {{ if .IsStory }}
                <p><a href="/post/{{ .Key }}">Click through to read ({{ .WordCount }} words)...</a></p>
            {{ else }}
                {{ render .Content }}
            {{ end }}
        </div>
    </div>
{{ end }}
<div>
    {{ if .NotFirstPage }}
        <form method="GET" class="prev-link">
            <input type="hidden" name="page" value="{{ .PrevPage }}" />
            <input type="submit" value="Previous Page" />
        </form>
    {{ end }}
    <form method="GET" class="next-link">
        <input type="hidden" name="page" value="{{ .NextPage }}" />
        <input type="submit" value="Next Page" />
    </form>
</div>
{{ end }}