{% extends "master" %}
{% block title %}Latest Posts{% endblock title %}
{% block content %}
    {% for post in posts %}
    <div class="post_header">
        <img class="profile_image" src="/content/{{ post.author_username }}" />
        <div class="post_info">
            <a href="/post/{{ post.key }}">
                <h3 class="post_title">{{ post.title }}</h3>
            </a>
            <div class="post_summary">Posted by {{ post.author }} at {{ post.date }}. <a href="/post/{{ post.key }}">Comments ({{ post.comment_count }})</a></div>
        </div>
    </div>
    <div class="post_content">
        {{ post.content }}
    </div>
    {% endfor %}
    <nav class="prev_next_page">
        {% if page > 0 %}
        <div class="prev_link">
            <form method="GET">
                <input type="hidden" name="page" value="{{ page - 1 }}">
                <input type="submit" value="Previous Page">
            </form>
        </div>
        {% endif %}
        <div class="next_link">
            <form method="GET">
                <input type="hidden" name="page" value="{{ page + 1 }}">
                <input type="submit" value="Next Page">
            </form>
        </div>
    </nav>
{% endblock content %}