{{define "content"}}
<h2>Latest Posts</h2>
{{range .Posts}}
    <div>
        <a href="/post/{{ .Key }}"><h3>{{.Title}}</h3></a>
        <span>Posted by {{ .Author }} at {{ formatDate .Date }}. <a href="/post/{{ .Key }}#comments">Comments ({{ .CommentCount }})</a></span>
        <div>
            {{ raw .Content }}
        </div>
    </div>
{{end}}
<div>
    {{ if .NotFirstPage }}
        <a href="/?page={{ .PrevPage }}">Prev</a>
    {{ end }}
    <a href="/?page={{ .NextPage }}">Next</a>
</div>
{{end}}