{{ define "content" }}
<div class="page-form">
    <h2>Login</h2>
    <form method="POST">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
        </div>
        <div>
            <input type="submit" value="Submit" />
            <span class="error">{{ .Error }}</span>
        </div>
    </form>
</div>
{{ end }}