<!DOCTYPE html>
<html>
    <head>
        <title>The Grisly Grotto - {% block title %}{% endblock title %}</title>
        <link href="/static/site.css" rel="stylesheet" />
        {% if style == "dark" %}
        <link href="/static/site-dark.css" rel="stylesheet" />
        {% endif %}
        <meta charset="utf-8" />
        <meta name="description" content="Personal blog site of Chris Pritchard and Peter Coleman" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="application-name" content="The Grisly Grotto" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><rect fill='black' width='100' height='100'></rect></svg>" />
    </head>
    <body>
        <a href="/">
            <h1>The Grisly Grotto</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/archives">Archives</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div>
            <a class="style_selector light" data-style="light" href="#" alt="light mode">☼</a><a class="style_selector dark" data-style="dark" href="#" alt="dark mode">☾</a>
        </div>
        {% block content %}{% endblock content %}
        <footer>Grisly Grotto v18. Site designed and coded by <a href="mailto:chris@grislygrotto.nz">Christopher Pritchard</a>, 2023</footer>
        <script type="text/javascript" src="/static/site.js"></script>
    </body>
</html>