{{ define "content" }}
<h2>{{ .Month }}, {{ .Year }}</h2>
{{ range .Posts }}
    <div>
        <a href="/post/{{ .Key }}"><h3 class="post-title">{{.Title}}</h3></a>
        <div class="post-summary">Posted by {{ .Author }} at {{ formatDate .Date }}. <a href="/post/{{ .Key }}#comments">Comments ({{ .CommentCount }})</a></div>
        <div class="post-content">
        <div>
            {{ if .IsStory }}
                <p><a href="/post/{{ .Key }}">Click through to read ({{ .WordCount }} words)...</a></p>
            {{ else }}
                {{ raw .Content }}
            {{ end }}
        </div>
    </div>
{{ end }}
<div>
    <form method="GET" action="/month/{{ .PrevMonth }}/{{ .PrevYear }}">
        <input type="submit" value="{{ .PrevMonth }}, {{ .PrevYear }}" />
    </form>
    <form method="GET" action="/month/{{ .NextMonth }}/{{ .NextYear }}">
        <input type="submit" value="{{ .NextMonth }}, {{ .NextYear }}" />
    </form>
</div>
{{ end }}