{% extends "master" %}
{% block title %}{{ month }}, {{ year }}{% endblock title %}
{% block content %}
    <script type="text/javascript" src="/static/mathjax.js"></script>
    <script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js"></script>
    {% for post in posts %}
    <div class="post_header">
        <img class="profile_image" src="/content/{{ post.author_username }}" />
        <div class="post_info">
            <a href="/post/{{ post.key }}">
                <h3 class="post_title">{% if post.is_draft %}[DRAFT] {% endif %}{{ post.title }}</h3>
            </a>
            <div class="post_summary">Posted by {{ post.author }} at {{ post.date }}. <a href="/post/{{ post.key }}#comments">Comments ({{ post.comment_count }})</a></div>
        </div>
    </div>
    <div class="post_content">
        {% if post.is_story %}
            <p>
            This post is marked as a long-form story. <a href="/post/{{ post.key }}">Click through</a> to read.
            </p>
        {% else %}
        {{ post.content }}
        {% endif %}
    </div>
    {% endfor %}
    <nav class="prev_next_page">
        {% if prev_month %}
        <div class="prev_link">
            <form method="GET" action="/archives/{{ prev_month }}/{{ prev_year }}">
                <input type="submit" value="{{ prev_month }}, {{ prev_year }}">
            </form>
        </div>
        {% endif %}
        {% if next_month %}
        <div class="next_link">
            <form method="GET" action="/archives/{{ next_month }}/{{ next_year }}">
                <input type="submit" value="{{ next_month }}, {{ next_year }}">
            </form>
        </div>
        {% endif %}
    </nav>
{% endblock content %}