{% extends "master" %}
{% block title %}{{ month }}, {{ year }}{% endblock title %}
{% block content %}
    {% for post in posts %}
    <div>
        <a href="/post/{{ post.key }}">
            <h3 class="post_title">{{ post.title }}</h3>
        </a>
        <div class="post_summary">Posted by {{ post.author }} at {{ post.date }}</div>
        <div class="post_content">
            {{ post.content }}
        </div>
    </div>
    {% endfor %}
    <nav class="prev_next_page">
        {% if prev_month %}
        <div class="prev_link">
            <form method="GET" action="/archives/{{ prev_month }}/{{ prev_year }}">
                <input type="submit" value="{{ prev_month }}, {{ prev_year }}">
            </form>
        </div>
        {% endif %}
        {% if next_month %}
        <div class="next_link">
            <form method="GET" action="/archives/{{ next_month }}/{{ next_year }}">
                <input type="submit" value="{{ next_month }}, {{ next_year }}">
            </form>
        </div>
        {% endif %}
    </nav>
{% endblock content %}