{{ define "content" }}
<div class="page-form">
    <h2>Search</h2>
    <form method="GET">
        <input type="text" name="searchTerm" />
        <input type="submit" value="Search" />
    </form>
    {{ if .SearchTerm }}
        {{ if .ZeroResults }}
            <div>No results found for '{{ .SearchTerm }}'</div>
        {{ else }}
            <h3>Results for '{{ .SearchTerm }}'</h3>
            {{ range .Results }}
                <div class="search-result">
                    <a href="/post/{{ .Key }}"><h4>{{ .Title }}</h4></a>
                    <div>{{ .Content }}</div>
                    <span>Posted by {{ .Author }} at {{ formatDate .Date }}</span>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}