{% extends "master" %}
{% block title %}Search{% endblock title %}
{% block content %}
    <h2>Search</h2>
    <form method="GET">
        <input type="text" name="search_term" autofocus maxlength="100" />
        <input type="submit" value="Search" />
    </form>
    A maximum of 50 results are shown.
    {% if search_term %}
        {% if zero_results %}
            <div>No results found for '{{ search_term | escape }}'</div>
        {% else %}
            <h3>Results for '{{ search_term | escape }}'</h3>
            {% for post in results %}
                <div class="search-result">
                    <a href="/post/{{ post.key }}"><h4>{% if post.is_draft %}[DRAFT] {% endif %}{{ post.title }}</h4></a>
                    <div>{{ post.content }}</div>
                    <span>Posted by {{ post.author }} at {{ post.date }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}