{% extends "master" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <div>
        <div class="post_header">
            <img class="profile_image" src="/content/{{ post.author_username }}" />
            <div class="post_info">
                <h3 class="post_title">{% if post.is_draft %}[DRAFT] {% endif %}{{ post.title }}</h3>
                <div class="post_summary">Posted by {{ post.author }} at {{ post.date }}.</div>
            </div>
        </div>
        <div class="post_content">
            {{ post.content }}
        </div>
    </div>
    {% if own_blog %}
        <div class="blog_controls">
            <div>
                <form method="GET" action="/post/{{ post.key }}/edit">
                    <input type="submit" value="Edit">
                </form>
            </div>
            <div>
                <form method="POST" action="/delete/{{ post.key }}">
                    <input id="delete_post" type="submit" value="Delete">
                </form>
            </div>
        </div>
    {% endif %}
    <a name="comments"></a>
    <h3>Comments</h3>
    {% for comment in post.comments %}
        <div class="comment_container" {% if comment.owned %}data-comment="{{ comment.id }}"{% endif %}>
            <div class="comment_summary">Commented by {{ comment.author }} at {{ comment.date }}</div>
            <div {% if comment.owned %}data-comment="{{ comment.id }}"{% endif %} class="comment_content">
                {{ comment.content }}
            </div>
            {% if comment.owned %}
            <div>
                <a href="#" data-comment="{{ comment.id }}" class="comment_link edit">edit</a>
                <a href="#" data-comment="{{ comment.id }}" class="comment_link save hide">save</a>
                <a href="#" data-comment="{{ comment.id }}" class="comment_link cancel hide">cancel</a>
                <a href="#" data-comment="{{ comment.id }}" class="comment_link delete">delete</a>
                <br /><span data-comment="{{ comment.id }}" class="error"></span>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <form class="comment_form" method="post" action="/post/{{ post.key }}/comment">
        <label for="author">Author</label>
        <input type="text" id="author" name="author" maxlength="30" />
        <input type="text" id="category" name="category" />
        <label for="content">Content</label>
        <textarea rows="3" cols="50" id="content" name="content" maxlength="1000"></textarea>
        <input id="comment_submit" type="submit" value="Comment" />
    </form>
    <script src="/static/comments.js"></script>
{% endblock content %}

