body {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
    letter-spacing: var(--content-letter-spacing, 0);
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: #e8ffe5;
    color: #222;
}

a,
a:visited {
    text-decoration: none;
    font-weight: 700;
    color: blue;
}

h1,
h2,
h3 {
    text-shadow: 0 2px 4px grey;
    color: #222;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0;
    text-align: center;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    color: inherit;
    padding: 6px 12px;
}

pre {
    padding: 1em;
}

input[type="text"],
input[type="password"],
textarea {
    display: block;
    border: 1px solid #222;
    border-radius: 2px;
    background-color: whitesmoke;
    box-shadow: inset 0 1px 1px #222;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 8px;
}

input[type="submit"]:disabled,
input[type="button"]:disabled {
    border: 1px solid gray;
    color: gray;
}

input[type="submit"],
input[type="button"] {
    transition: all .3s ease;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid #222;
    border-radius: 2px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6em;
    user-select: none;
}

footer {
    margin-top: 3em;
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
}

nav {
    display: flex;
    margin-bottom: 1em;
}

nav span {
    flex: 1;
    text-transform: uppercase;
    text-align: center;
}

nav span a,
nav span a:visited {
    color: #222;
}

.style_selector_container {
    text-align: center;
}

img,
pre {
    border: 1px solid #222;
    box-shadow: 0 2px 4px grey;
}

:not(pre)>code {
    background-color: #222;
    color: whitesmoke;
    padding: 2px;
}

.style_selector {
    width: 30px;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 1em;
}

.style_selector.light {
    color: #222;
    background-color: whitesmoke;
}

.style_selector.dark {
    color: whitesmoke;
    background-color: #222;
}

.post_header {
    display: flex;
    flex-direction: row;
}

.profile_image {
    max-width: 50px;
    height: 50px;
    flex: 1;
    border: 1px solid #222;
    margin: 5px 8px 5px 5px;
}

.profile_info {
    flex: 1;
}

.post_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
}

.post_summary {
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.post_content {
    text-align: justify;
}

.blog_controls {
    display: flex;
    flex-direction: row;
}

.blog_controls div {
    flex: none;
    margin-right: 0.5em;
}

.blog_controls input {
    width: 80px;
}

.comment_summary {
    font-size: 0.8em;
    margin-top: 15px;
    margin-bottom: 4px;
}

.comment_content p {
    margin: 0;
    font-weight: 300;
    font-size: 1em;
    max-width: 50%;
    text-align: justify;
}

.comment_form {
    margin-top: 2em;
}

.prev_next_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.prev_next_page div {
    flex: 1;
}

.next_link {
    text-align: right;
}

.archives_lists {
    display: flex;
    flex-direction: row;
}

.archives_lists .years {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 0;
}

.year_container {
    width: 30%;
}

.archives_lists .stories_container {
    flex: 1
}

.story_title {
    margin-bottom: 0;
}

.years,
.months,
.stories {
    list-style: none;
    padding-left: 0;
}

div.search-result h4 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.comment-link {
    font-size: 0.6em;
    font-weight: normal;
}

.hide {
    display: none;
}

.error {
    color: red;
}

.account_details_container {
    border: 1px solid #222;
    padding: 10px;
    width: 300px;
    margin-bottom: 1em;
}

.account_update_message {
    margin-bottom: 1em;
}

div.checkbox input,
div.checkbox label {
    display: inline;
    vertical-align: center;
}

.editor_help {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: justify;
    font-size: 0.8em;
}

.editor_help span {
    border: 1px solid #222;
    background-color: #222;
    color: whitesmoke;
}

.content_upload_container {
    border: 1px solid #222;
    padding: 10px;
    width: 300px;
    margin-bottom: 1em;
}

.editor_toolbar {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.editor_toolbar li {
    width: 2em;
    text-align: center;
}