<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The personal blog of Chris Pritchard and Peter Coleman" />
    <title>Grisly Grotto - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <!--[if lt IE 9]>
    <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('hgroup');
    </script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div class="recent-events">
        <ul>
            @foreach(var evt in Program.GetEvents())
            {
            <li>@evt</li>
            }
        </ul>
    </div>

    <div class="container">
        <header>
            <h1>
                <a href="/">The Grisly Grotto</a>
            </h1>
        </header>

        <nav>
            <ul class="menu">
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a asp-action="New" asp-controller="Secure">New Post</a>
                    }
                    else
                    {
                    <a asp-action="Login" asp-controller="Open">Login</a>
                    }
                </li>
                <li>
                    <a asp-action="Archives" asp-controller="Open">Archives</a>
                </li>
                <li>
                    <a asp-action="Search" asp-controller="Open">Search</a>
                </li>
                <li>
                    <a asp-action="About" asp-controller="Open">About</a>
                </li>
            </ul>
            </nav>

        <div>
            @RenderBody()
        </div>

        <footer>
            Grisly Grotto v14.0. Site designed and coded by <a href="mailto:chrispritchard.nz@gmail.com">Christopher Pritchard</a>, 2017
        </footer>
    </div>

    @RenderSection("scripts", false)
</body>
</html>