@{
	ViewBag.Title = "About";
}

<article>
    <h2>About me</h2>

    <p align="center">
        <img src="https://grislygrotto.blob.core.windows.net/usercontentpub/me.jpg" width="200px" />
    </p>

    <p>
        My name is Christopher Pritchard, and I work as a senior-level software developer and architect in Wellington, New Zealand. 
        I operate as a contractor, preferring short to mid-term length contracts (1-8 months), so I can work on lots of different things with different people, while also being able to set time aside for my own projects.
        In the past, I have worked for long periods as a full-time employee (largely at the IT vendor Provoke Solutions), largely in the Microsoft technology stack.
    </p>

    <p>
        I have been working in the IT industry for over twelve years now, primary in development or development-related roles. While management, solution design and technical leadership have increasingly been part of my responsibilities, I always prefer to stay close to the code. I think I'm pretty good at what I do :D
    </p>

    <p>
        Outside of work, my hobbies are writing (successive participant/winner in the NaNoWriMo competition each year I'm proud to say), and gaming. I also do a lot of personal projects, such as the one you are looking at now.
        Finally, and by no means least, I am a happily married man with a young daughter, as well as a fur child, our Schnoodle Archie :)
    </p>

    <h3>Contact</h3>

    <p>
        I can be reached most easily by my personal email address: <a href="mailto:chrispritchard.nz@gmail.com">chrispritchard.nz@@gmail.com</a>.
        <br />
        My LinkedIn profile is <a href="https://nz.linkedin.com/pub/christopher-pritchard/a/9b6/a66">here</a>.
    </p>

    <h2>About the Grisly Grotto</h2>

    <p>
        The first version of GG went live back in 2006. I had always wanted to have a blog, and thought having one was practically a requirement to be in the tech industry at the time.
        More importantly though, while I had learned much of the craft of web development (in ASP.NET Webforms back then), my day job did not afford me the opportunity to 'do it all': design, development, hosting, bug fixing etc. 
        So GG was born, a web application of manageable scope that allowed me to fully practice my craft. 
        While my skill set is now vastly greater than the meagre needs of this site, it still serves a periodic 'zen' meditation: rebuilding the same structure over and over again, in the latest JS framework, database architecture or server-side technology that takes my fancy.
    </p>

    <p>
        So far there have been 14 versions, each one distinctive. Earlier versions used ASP.NET Webforms, some used XSLT transforms for markup, some were pure client side javascript (including a one-off version in pure NodeJS). Multiple design frameworks have been used, although mostly I have done the CSS entirely myself for practice. At least six different data storage solutions (databases or otherwise) have been used, and multiple different hosting solutions before it ended up here, on Azure for v11+. I expect there to be many more iterations as I seek to learn new things going forward.
    </p>

    <h2>About v14 specifically</h2>

    <p>
        This site is the first in the new .NET Core ecosystem, with an emphasis on a clean code base and neat HTML output.
        It is also the first version to be built outside of Microsoft Visual Studio, which tends to be my professional tool of choice - instead I have built it entirely in Visual Studio Code, a more lightweight editor.
        Most development was still done on Windows, with some done on a 2016 Macbook and Linux - as of writing I straddle all the OS worlds!
    </p>

    <p>
        Database storage is Azure SQL Server, and web hosting is as an Azure App Service. I host the source code in Visual Studio Team Services, in a Git repository. 
        VSTS provides a build &amp; release pipeline which automatically deploys the latest code into Azure.
    </p>

    <p>
        Cheers.
    </p>

</article>