@model Post

@{
    var editing = Model?.Key != null;
    ViewBag.Title = editing ? "Edit post" : "Create new post";
}

<h2>@ViewBag.Title</h2>

<form method="POST" id="editor-form">
    <p>
        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </p>
    <p>
        <label asp-for="Content">Content</label>
        <input type="hidden" asp-for="Content" />
        <div class="content-editor" id="content-editor" contenteditable="true">@Html.Raw(Model.Content)</div>
        <span asp-validation-for="Content"></span>
    </p>
    <p>
        <input type="checkbox" id="html-edit" />
        <label class="checkbox-label" for="html-edit">Edit HTML</label>
    </p>
    <p>
        <input type="checkbox" asp-for="IsStory" />
        <label class="checkbox-label" asp-for="IsStory">Is this a story (not just story related)?</label>
    </p>

    <div>
        <button type="submit">@(editing ? "Update" : "Create")</button>
        <span id="saving-status"></span>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        el('html-edit').onclick = function() {
            var editor = el('content-editor');
            if(this.checked)
                editor.innerText = editor.innerHTML;
            else
                editor.innerHTML = editor.innerText;
        };
        function getHtml() {
            var editor = el('content-editor');
            return el('html-edit').checked ? editor.innerText : editor.innerHTML;
        }
        el('editor-form').onsubmit = function() {
            var editor = el('content-editor');
            el('Content').value = getHtml();
        };
        function postContent(callback) {
            var request = new XMLHttpRequest();
            request.open('POST', '@Url.Action("SaveEditorContent")', true);
            request.setRequestHeader('Content-Type', 'application/json');
            request.onload = callback;
            var data = getHtml();
            request.send(JSON.stringify(data));
        }
        setInterval(function() {
            var status = el('saving-status');
            status.innerText = 'Saving...';
            postContent(function() {
                setTimeout(function() {
                    status.innerText = 'Saved';
                    setTimeout(function() { status.innerText = ''; }, 1000);
                }, 1000);                
            });
        }, 10000);
    </script>
}