@model GrislyGrotto.Post[]
@{
    ViewBag.Title = "Latest";
}

@foreach(var post in Model)
{
    <div>
        <h2>@post.Title</h2>
        <div>
            @Html.Raw(post.Content)
        </div>
    </div>
}