body {
  padding: 50px;
  font-family: "proxima-nova", "Helvetica", "Avenir", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
a,
a:visited {
  color: #222;
}
a:hover {
  text-shadow: 0px 0px 0.2em #222;
}
div.clear {
  clear: both;
}
h1,
h2 {
  font-family: "freight-sans-pro", "Helvetica", "Avenir", "Arial", sans-serif;
}
a.heading,
a.heading:visited {
  color: #222;
  text-decoration: none;
}
a.heading h1 {
  text-align: center;
  font-size: 80px;
  line-height: 1;
  margin: 0;
  text-shadow: 0px 0px 0.2em #222;
  color: #222;
}
ul.menu,
ul.postinfo {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
ul.menu {
  width: 360px;
}
ul.menu li {
  float: left;
  margin-right: 10px;
}
ul.postinfo {
  font-size: 14px;
}
ul.postinfo li {
  float: left;
  margin-right: 5px;
}
div.post {
  margin-bottom: 30px;
}
div.title {
  height: 55px;
}
div.title a {
  text-decoration: none;
}
div.title img,
div.title h2 {
  float: left;
}
div.title img {
  border: 1px solid #222;
}
div.title h2 {
  font-size: 25px;
  margin: 10px;
}
div.post div {
  text-align: justify;
}
div.singleinfo {
  text-align: center !important;
  margin-bottom: 10px;
}
div.singleinfo h1 {
  font-size: 50px;
  line-height: 1;
  margin: 0;
}
div.singleinfo img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
  border: 1px solid #000;
}
div.comment {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
span.commentauthor {
  font-size: 14px;
}
div.comment h3 {
  text-align: center;
}
div.comment textarea {
  font-family: "proxima-nova", "Helvetica", "Avenir", "Arial", sans-serif;
}
div.loginbox {
  width: 220px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input.formfield {
  width: 150px;
}
p.error {
  color: #f00;
}
div.postinfolist {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.postinfolist ul {
  list-style-type: none;
  padding: 0;
}
div.postinfolist li {
  margin-bottom: 20px;
}
div.postinfolist h2 {
  line-height: 1;
  margin: 0;
}
.archives h1 {
  text-align: center;
}
.archives ul {
  list-style-type: none;
}
.archives ul li {
  float: left;
}
input#title {
  width: 300px;
}
div#content {
  border: 1px solid #000;
}
span#error {
  color: #f00;
}
.footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  font-size: 10px;
}
@media all and (min-width: 1400px) {
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 500px) {
  body {
    padding: 0 !important;
    font-size: 14px;
  }
  a.heading h1 {
    font-size: 30px;
  }
  ul.postinfo {
    font-size: 12px;
  }
  div.singleinfo h1 {
    font-size: 20px;
  }
  div.searchbox {
    text-align: left;
    width: 200px;
  }
  div.postinfolist {
    text-align: left;
    width: 200px;
  }
  ul.menu {
    width: 200px;
  }
  div.comment h3,
  .archives h1 {
    text-align: left;
  }
}
