body {
    background-color: white;
}

.site-container {
    background-color: whitesmoke;
    color: black;
}

a, a:visited {
    color: gray;
}

input[type=text], input[type=password], textarea {
    border: 1px solid black;
    background-color: gray;
    color: white;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color:#66afe9;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input[type=submit], input[type=button] {
    border: 1px solid gray;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: rgba(154,204,20,.1);
}

.control-panel {
    color: black;
}

@media only screen and (max-width: 1000px) {
    .control-panel .controls {
        color: black;
    }
}

#vis-background-colour {
    background-color: white;
}

#vis-primary-colour {
    background-color: whitesmoke;
}

#vis-secondary-colour {
    background-color: gray;
}

blockquote {
    color: #007ce2;
}

code {
    color: #007ce2;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px 2px 4px gray;
}