html {
  height: 100%; }

body {
  margin: 0em;
  padding: 0em;
  background: white url("/resources/renaissance1.jpg"); }

.middle {
  background-color: white;
  font-family: Georgia;
  color: #555;
  width: 60%;
  min-height: 100%;
  margin-left: 20%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 20px;
  padding-right: 20px; }

img {
  margin: 10px; }

a {
  color: #654; }
  a :visited {
    color: #654; }

.error {
  color: maroon; }

.header {
  text-align: center;
  font-family: Copperplate Gothic Light, Trebuchet MS, Verdana;
  font-size: 4em;
  margin-top: 0em;
  margin-bottom: 0em; }

.motto {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em; }

.menu {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black; }
  .menu select {
    margin-left: 10px; }
  .menu .loginLink, .menu .newPostLink {
    display: block;
    margin-bottom: 1em; }
  .menu .loginPanel {
    display: none;
    margin: 1em; }

.quote {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid black;
  margin-bottom: 2em; }
  .quote .quoteContent {
    color: maroon;
    font-style: italic; }
  .quote .quoteAuthor {
    display: block;
    font-weight: bold; }

.posts .post {
  margin-bottom: 2em; }
  .posts .post .title {
    font-family: Copperplate Gothic Light, Trebuchet MS, Verdana;
    text-decoration: underline;
    margin-bottom: 0em; }
  .posts .post .details {
    font-weight: bold; }
  .posts .post .content {
    margin-top: 1em; }

.footer {
  font-size: 0.8em;
  font-family: Trebuchet MS, Verdana;
  text-align: center; }
