html 
{
  height: 100%; 
}

body 
{
  margin: 0;
  padding: 0;
  height: 100%;
  background: black url("/resources/renaissance2.jpg"); 
}

.middle 
{
  background: white url("/resources/renaissance3.jpg");
  font-family: Verdana, Tahoma;
  color: #555;
  width: 60%;
  margin-left: 20%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100%;
}
  
textarea 
{
    font-family: Verdana, Tahoma;
}

img 
{
  margin: 10px; 
}

a 
{
  color: #654; 
}
a :visited 
{
    color: #654; 
}

.error 
{
  color: maroon; 
}

.header 
{
  text-align: center;
  font-family: 'Stoke', serif, Verdana, Tahoma;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0; 
}

.motto 
{
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em; 
}

.newPostLinkBox
{
    text-align: center;
}

.newPostLinkBox .newPostLink
{
    display: block;
    margin-bottom: 1em;
    font-size: 0.8em;
}

.menu 
{
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black; 
}
.menu select 
{
    margin-left: 10px; 
}
.menu .loginPanel 
{
    display: none;
    margin: 1em; 
}

.quote 
{
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid black;
  margin-bottom: 2em; 
}

.quote .quoteContent 
{
    color: maroon;
    font-style: italic; 
}
.quote .quoteAuthor 
{
    display: block;
    font-weight: bold; 
}

.posts .post 
{
  margin-bottom: 2em; 
}

.posts .post .titlebox img
{
    float: left;
    border: 1px solid black;
    vertical-align: middle;
}
.posts .post .titlebox .title 
{
    font-family: 'Stoke', serif, Verdana, Tahoma;
    text-decoration: underline;
    margin-bottom: 3px; 
    vertical-align: middle;
    float: left;
}
.posts .post .details 
{
    font-weight: bold; 
}

.posts .post .content 
{
    margin-top: 1em;
    line-height: 1.8em; 
}

.footer 
{
  font-size: 0.8em;
  font-family: Trebuchet MS, Verdana;
  text-align: center; 
}

.clearer
{
    clear: both;
}
