{{ define "content" }}
<h2>Archives</h2>
<div class="stories-container">
    <h2>Stories</h2>
    <ul class="stories">
        {{ range .Stories }}
        <li>
            <a href="/post/{{ .Key }}"><h3>{{ .Title }} ({{ .WordCount }} words)</h3></a>
            <span>Posted by {{ .Author }} at {{ formatDate .Date }}</span>
        </li>
        {{ end }}
    </ul>
</div>
<ul class="years">
    {{ range .Years }}
        <li>
            <h3>{{ .Year }}</h3>
            <ul class="months">
                {{ range .Months }}
                    <li>
                        <a href="/archives/{{ .Month }}/{{ .Year }}">{{ .Month }} ({{ .Count }})</a>
                    </li>
                {{ end }}
            </ul>
        </li>
    {{ end }}
</ul>
{{ end }}