{{ define "content" }}
<h2>{{ .Month }}, {{ .Year }}</h2>
{{ range .Posts }}
    <div>
        <img src="/profile-image/{{ .AuthorUsername }}" class="profile-image post-author-image" />
        <a href="/post/{{ .Key }}"><h3 class="post-title">{{.Title}}</h3></a>
        <div class="post-summary">Posted by {{ .Author }} at {{ formatDate .Date }}. <a href="/post/{{ .Key }}#comments">Comments ({{ .CommentCount }})</a></div>
        <div class="post-content">
        <div>
            {{ if .IsStory }}
                <p><a href="/post/{{ .Key }}">Click through to read ({{ .WordCount }} words)...</a></p>
            {{ else }}
                {{ renderPost .Content }}
            {{ end }}
        </div>
    </div>
{{ end }}
<div>
    <form method="GET" action="/archives/{{ .PrevMonth }}/{{ .PrevYear }}" class="prev-link">
        <input type="submit" value="{{ .PrevMonth }}, {{ .PrevYear }}" />
    </form>
    <form method="GET" action="/archives/{{ .NextMonth }}/{{ .NextYear }}" class="next-link">
        <input type="submit" value="{{ .NextMonth }}, {{ .NextYear }}" />
    </form>
</div>
{{ end }}