extends ../layout

block content
	form(method="post")
		div
			| Title
			br
			input(type="hidden", value=post?post.Title:'')#originalTitle
			input(type="text", name="title", value=post?post.Title:'')#title
		br
		div(contenteditable)#content
			if(post)
				!=post.Content
			else
				!="<p>Enter content here</p>"
		br
		div
			input(type="radio", name="viewtype", checked)#normal
			label(for="normal") Normal
			input(type="radio", name="viewtype")#html
			label(for="normal") HTML
		br
		div
			input(type="checkbox", name="isstory", checked=post && post.IsStory)#isstory
			label(for="isstory") Is Story
		br
		input(type="button", value="Submit")#submitbutton
		br
		span(style="display: none")#error

	script(type="text/javascript", src="/scripts/editor.js")