@using GrislyGrotto

<section class="authSection">
    @if (Request.IsAuthenticated)
    {
        <span>Welcome @Utility.LoggedUser().DisplayName!</span>
        <ul>
            <li>@Html.ActionLink("Create New Post", "New", "Posts")</li>
            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    }
    else
    {
        @Html.ActionLink("Login to create and/or edit posts", "Login", "Account")
    }
</section>