
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href="~/Content/normalize.css" type="text/css" rel="stylesheet" />
	<link href="~/Content/skeleton.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container"> 
        <h1>An Error has occured</h1>
		<div class="row">
			<div class="six column">
				Please contact the site administrator.
			</div>
		</div>
    </div>
</body>
</html>
