@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pageHeading">Logout</h2>

<section class="logoutForm">
    Success! You have successfully logged out.
    <br />
    @Html.ActionLink("Return home", "Latest", "Home")
</section>