$main-background: #111;
$article-background: #222;

$text: #EEE;
$primary: darkgoldenrod;
$highlight: yellow;

/*$main-background: #EEE;
$article-background: #DDD;

$text: #111;
$primary: #333;
$highlight: black;*/

@font-face {
    font-family: 'JuraDemiBold';
    src: url('JuraDemiBold.ttf') format('truetype');
}

body {
	min-height: 1000px
}

body, input, a.button, a.button-primary, input.button-primary, textarea, select {
    font-family: JuraDemiBold !important;
    background-color: $main-background !important;
	color: $text;
}

input, a.button, a.button-primary, input.button-primary, textarea, select {
    border-color: $primary !important;
	color: $text !important;
}

a, a:hover, :visited {
    color: $highlight;
    font-weight: bold;
    text-shadow: 0 0 2px $highlight;
}

h1, h2 {
    font-family: JuraDemiBold;
    margin-bottom: 0;
	color: $primary !important;
    text-shadow: 0 0 5px $primary;
    text-transform: uppercase;
}

h1 a, h2 a {
    text-decoration: none;
    color: $primary !important;
	text-shadow: 0 0 2px $primary;
}

	h1 a {
		text-shadow: 0 0 20px $primary;
	}

h1 {
	text-shadow: 0 0 0.2em $article-background;
	font-size: 8rem;
	text-align: center;
}

article {
    padding: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $article-background;
	text-align:justify;
}

.centred {
	text-align: center;
}

.field-validation-error {
	color: red;
	display: block;
}

p.post-footer {
	font-size: 1.3rem;
    margin-top: 1rem;
}

ul.menu {
	list-style:none;
	padding: 0;
	text-align: center;
}

	ul.menu li {
		display: inline;
		margin: 5px;
	}

div.result-content {
	display: none;
	padding: 5px;
}

div.view-header {
    text-align: center;
    margin-bottom: 2rem;
}

article.searchResult em {
    background-color: $highlight;
    color: $article-background;
}

div.edit-button {
    margin-top: 1rem;
}

div.content-editor {
    border: 1px solid $primary;
    background-color: $main-background;
    border-radius: 4px;
    padding: 5px;
    width: 800px;
    min-height: 400px;
    margin-bottom: 1rem;
}

img.author {
	border: 1px solid $primary;
}

div.recent-events {
	width: 100%;
	position: absolute;
	top: 0;
	color: $primary * 0.8;
	z-index: -1;
	font-size: 0.9rem;
	text-align: right;

	ul {
		list-style: none;

		li {
			padding-left: 0;
			margin-bottom: 0;
		}
	}
}