body
{
    font-family: Georgia, Times New Roman;
    font-size: 9pt;
    color: #333;
    line-height: 1.5;
}

div.page
{
    width: 70%;
}

a, a:visited
{
    color: #A66;
}

div.header
{
    margin-left: 30px;
}

h1.headertext
{
    font-size: 36pt;
    margin-bottom: -40px;
}

h2.headertext
{
    font-size: 12pt;
    margin-bottom: 0px;
}

.hide
{
    display: none;
}

.oneline
{
    display:block;
}

span.loginlabel
{
    width:70;   
}

input.login
{
    width:100; 
    margin-left:5;
}

h3.historyheading
{
    font-family: Courier New;
    display: inline;
}

div.quote
{
    margin-left:20px;
}

span.quotetext
{
    color: red;
    font-style: italic;
    display: block;
}

span.quoteauthor
{
    margin-left: 60px;
}

div.authorlinks
{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: Courier New;
    margin-left:25%;
}

span.howrecent
{
    font-size: 8pt;
    color: #666;
}

div.menu
{
    margin-left: 20px;
    clear: right;
    float: left;
    text-align: left;
    width: 20%;
}

div.post
{
    margin-left: 25%;
}

h3.posttitle
{
    color: #A66;
    margin-bottom: 10px;
}

p.postdetail
{
    color: #555;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: -10px;
}

.posttext
{ }

div.comment
{ }

span.authorname
{
    font-weight: bold;
}

.commentdetails
{
    color: #A66;
    font-style: italic;
    display: block;
}

.commenttext
{
    margin-left: 20px;
}

div.editor
{
    margin-left: 25%;
}

div.editorcontent
{ }

div.footer
{
    text-align: center;
}

label.error
{
    display: block;
    color: red;
    font-style: italic;
    font-weight: normal;
}

input.error
{
    border: 2px solid red;
}

td.field input.error, td.field select.error, tr.errorRow td.field input, tr.errorRow td.field select
{
    border: 2px solid red;
    background-color: #FFFFD5;
    margin: 0px;
    color: red;
}
