<div class="authenticationZone">
    <table border="0">
        <tr>
            <td>Username:</td>
            <td><input type="text" class="username checkedForValidCredentials" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" class="password checkedForValidCredentials" /></td>
        </tr>
        <tr>
           <td colspan="2">
                <button class="authenticate" disabled="disabled">Login</button><br />
                <span class="authenticationError"></span>
           </td> 
        </tr>
    </table>
</div>