<span id="commentsBegin"></span>
{{for Comments}}
    <div class="comment">
        <h3>{{:Author}} - {{:Created}}</h3>
        <p>{{>Text}}</p>
        {{if #parent.parent.data.isEditorMode}}
            <a href="{{:Id}}" class="deleteCommentLink">delete comment</a>
        {{/if}}
    </div>
{{/for}}

{{if !isEditorMode}}
    <div class="commentEditor">
        Author:<input type="text" class="commentAuthor checkedForValidComment" />
        <br />
        <textarea class="commentText checkedForValidComment" rows="8" cols="40"></textarea>
        <br />
        <button class="commentSubmitButton" name="{{:Id}}" disabled="disabled">Submit</button>
    </div>
{{/if}}