div.page
{
    width: 90%;
}

div.menu
{
    margin-left: 20px;
    clear: right;
    float: left;
    text-align: left;
    width: 245px;
}

div.post, div.editor, div.authorlinks, div.comment
{
    margin-left: 255px;
}

div.header
{
    margin-left: 30px;
}

span.loginlabel
{
    width: 70px;   
}

input.login
{
    width: 100px; 
    margin-left: 5px;
}

div.quote
{
    margin-left: 20px;
}

span.quoteauthor
{
    margin-left: 60px;
}

.commenttext
{
    margin-left: 20px;
}

div.footer
{
    text-align: center;
}

.hide
{
    display: none;
}

.oneline
{
    display: block;
}