
/*  Common  */

body {
    font-family: 'Bitter', serif;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

a, a:visited {
    color: black;
}

.clear {
    clear: both;
}

.centred {
    text-align: center;
}

footer {
    color: #333;
    font-size: 0.8em;
}

/*  Header and Nav  */

header {
    text-align: center;
}

header h1 {
    font-size: 3.5em;
    margin-bottom: 5px;
    text-shadow: 0 0 3px #333;
}

header h1 a, header h1 a:visited {
    text-decoration: none;
}

ul.menu {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 5px;
}

ul.menu li {
  display: inline;
  margin: 5px; 
}

ul.menu li a {
  text-decoration: none;
  font-size: 1.2em; 
}

/* Posts */

h2.post-title {
    margin-bottom: 0;
}

div.post-info {
    color: #666;
    margin-bottom: 0.5em;
    font-size: 14px;
}

div.post-info a, div.post-info a:visited {
    color: #666;
}

div.post-content {
    text-align: justify;
    line-height: 1.5em;
}

/* Archives */

.archives {
  text-align: center; 
}

.archives ul {
  list-style-type: none; 
  padding-left: 0;
}

.year {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.archives .post-title {
    font-size: 1.2em;
}