
body {
    font-family: 'Bitter', serif;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

header h1 a, header h1 a:visited {
    text-decoration: none;
}

h2.post-title {
    margin-bottom: 0;
}

div.post-info {
    color: #666;
    margin-bottom: 0.5em;
    font-size: 14px;
}

div.post-info a, div.post-info a:visited {
    color: #666;
}