body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

h1 {
    font-size: 3.5em;
    margin: 0 0 0 0.2em;
}

h1, h2, h3, h4, h5, nav {
    font-family: 'Courier New', Courier, monospace;
    color: #CC0000;
}

a, a:visited {
    color: #CC0000;
}

input[type='button'], input[type='submit'] {
    background: white;
    border: 1px solid black;
}

header, footer, nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1em;
    margin-right: 1em;
    display: inline;
    font-weight: bold;
}

.content, header, footer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
}

h5 {
    margin-top: -1.5em;
    margin-bottom: 0.5em;
}

form.login-box {
    text-align: center;
}

form.login-box input {
    display: inline-block;
    text-align: center;
}

h2.page-heading {
    text-align: center;
    clear: both;
}

ul.years {
    list-style: none;
    padding: 0;
}

ul.years > li {
    float: left;
    margin-bottom: 2em;
}

ul.years > li > h3 {
    margin-bottom: 0;
}

ul.months {
    list-style: none;
    padding: 0;
}

ul.months li {
    margin-right: 2em;
}

ul.stories {
    text-align: center;
    list-style: none;
    padding: 0;
}

ul.stories h3 {
    margin-bottom: 0;
}

ul.comments {
    list-style: none;
    padding: 0
}

ul.comments li {
    width: 32em;
    margin-bottom: 1em;
}

div.editor {
    min-height: 400px;
    border: 1px solid black;
}

fieldset {
    border: 0;
}

fieldset label, fieldset input {
    display: block;
    margin-bottom: 0.5em;
}

.inline {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.inline label, .inline input {
    display: inline
}

.inline label {
    margin-right: 1em;
}

.error-message {
    display: block;
    color: red;
}

input.prev-btn, input.next-btn {
    width: 150px;
    margin-top: 1em;
}

input.prev-btn {
    float: left;
}

input.next-btn {
    float: right;
}

form.owned-post-btn {
    display: inline;
}

input.owned-post-btn {
    width: 120px;
    margin-top: 1em;
    margin-right: 1em;
}

div.search-page, div.search-page form {
    text-align: center;
}

div.search-page input {
    display: inline-block;
}

div.search-page input + span {
    display: block;
}

div.search-page ul {
    list-style: none;
    padding: 0;
}

div.search-page ul li h4 {
    margin-bottom: 0;
}

div.search-page ul li p {
    margin: 0;
}

div.search-page ul li p + span {
    font-size: 0.9em
}