<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The personal blog of Chris Pritchard and Peter Coleman" />
    <title>Grisly Grotto - @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/favicon.png" type="image/x-icon" />
    <!--[if lt IE 9]>
    <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('hgroup');
    </script>
    <![endif]-->
</head>
<body>
    <header>
        <h1>
            <a href="/">The Grisly Grotto</a>
        </h1>
    </header>

    <div class="recent-events">
        <ul>

        </ul>
    </div>

    <div class="container">
        <nav class="row">
            <ul class="menu">
                <li>
                    
                </li>
            </ul>
        </nav>

        @RenderBody()
    </div>

    <footer class="centred">
        Grisly Grotto v14.0. Site designed and coded by <a href="mailto:chrispritchard.nz@gmail.com">Christopher Pritchard</a>, 2017
    </footer>
</body>
</html>