@{
	ViewBag.Title = "About";
}

<article>
    <h2>About me</h2>

    <p>
        My name is Christopher Pritchard, and I work as a senior-level software developer and architect in Wellington, New Zealand. At time of writing (July, 2016), I work as a Senior Developer Contractor in the employ of the New Zealand Fire Service, developing Xamarin and Azure focused apps. Formerly I worked at Wynyard Group briefly and before that for a (long) time I was a developer/solutions architect at Provoke Solutions Wellington. Generally my work involves the full end-to-end development of websites, processing software and mobile applications for businesses and government departments.
    </p>

    <p>
        I have been working in the IT industry for ten years now (again, at time of writing :), primary in development or development related roles. While management and now solution design have been part of my responsibilities, I always prefer to stay close to the code. I think I'm pretty good at what I do :D
    </p>

    <p>
        Outside of work, my hobbies are writing (successive participant/winner in the NaNoWriMo competition each year I'm proud to say), and gaming (on PCs). I also do a lot of personal projects, such as the one you are looking at now.
    </p>

    <h3>Contact</h3>

    <p>
        I can be reached most easily by my personal email address: <a href="mailto:chrispritchard.nz@gmail.com">chrispritchard.nz@@gmail.com</a>.
        <br />
        My LinkedIn profile is <a href="https://nz.linkedin.com/pub/christopher-pritchard/a/9b6/a66">here</a>.
        <br />
        Cheers
    </p>

    <h2>About the Grisly Grotto</h2>

    <p>
        The first version of GG went live back in 2006. I had always wanted to have a blog, and thought it practically a requirement to be in the tech industry at the time. More importantly though, while I had learned much of the craft of web development (in ASP.NET webforms back then, haha) my day job did not afford me the opportunity to 'do it all': design, development, hosting, bug fixing etc. So GG was born, a web application of manageable scope that allowed me to fully practice my craft.
    </p>

    <p>
        While the site serves as a day to day journal of the irreverant things and thoughts myself and good friend Peter Coleman choose to put down, its primary purpose for me has been as a test bench; a way to learn some new technology or technique in a much more elaborate version of 'Hello World'.
    </p>

    <p>
        So far there have been 13 versions, each one distinctive. Earlier versions used ASP.NET webforms, some used XSLT transforms for markup, some were pure client side javascript; the last version was in NodeJS. Multiple design frameworks have been used, although mostly I have done the CSS entirely myself for practice. At least six different data storage solutions (data bases or otherwise) have been used, and multiple different hosting solutions before it ended up here, on Azure in v11/12/13. I expect there to be many more iterations as I seek to learn new things going forward.
    </p>

    <p>
        There is also a companion site <a href="http://grislygrotto-gallery.azurewebsites.net/">here</a>.
        This 'gallery' is just a convenient place for me to showcase tech demos - its a static html site otherwise that I manually update.
    </p>

    <h2>About v13.5 specifically</h2>

    <p>
        The most distinctive thing about v13 is obviously the background animation, and to a lesser extent the colour scheme. Yes, I know this might be heresy in web design :) Please note I have tried to mitigate distraction somewhat by applying a background to posts where the animation is hidden. However I wanted to experiment with HTML5 canvas as a background to a site, and to be honest just wanted to try something distinctive. Too much of the web seems flat and pastel these days, I wanted to create something memorable. In this instance, I was inspired by the announcement of Deus Ex Mankind Divided and so built something in that theme.
        While v13.0 was black and gold, I eventually tired of those colours and so 13.5 introduced the grey and white version.
    </p>

    <p>
        Apart from that, the site is a stock standard ASP.NET MVC5 project, with an emphasis on a clean code base and neat HTML output.
        CSS is based on the excellent <a href="http://getskeleton.com/">Skeleton CSS framework</a> with minor modifications.
        For JS I write all site-specific JS using <a href="http://www.typescriptlang.org/">Typescript</a>. Images are generally uploaded
        into <a href="https://azure.microsoft.com/en-us/services/storage/">Azure Blob Storage</a>, a free storage system.
    </p>

    <p>
        v13.0 used the free tier of <a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a> for its database. This Lucene-like search system contains a JSON index that was large enough to
        host the entirety of Grisly Grotto's data. While innovative and neat (combined with a backup webjob that saved the data as a json file every three days into Azure Blob Storage), 
        Azure Search was not entirely reliable and occasionally content would be out of order or muddled. v13.5 used a SQL CE database instead. Normally a file-based database is not a good idea for
        cloud based website, but GG runs in a single instance and so there are no replication risks.
        Finally, as of v13.7, I returned to full SQL Server (or at least, Azure SQL Server). This was due to migrating the code base to VSTS (Visual Studio Team Services) and adding a CI build process - the CI process was deleting the SQL CE database on deployment, which wasn't the best :D
    </p>

</article>