doctype html
html
	head
		title= "The Grisly Grotto - " + title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="shortcut icon", href="/images/favicon.png")
	body
	a(href="/").heading
		h1 The Grisly Grotto
	div
		ul.menu
			li
				if(onLatest)
					| Latest
				else
					a(href="/") Latest
			li
				if(onArchives)
					| Archives
				else
					a(href="/archives") Archives
			li
				if(onStories)
					| Stories
				else
					a(href="/stories") Stories
			li
				if(onSearch)
					| Search
				else
					a(href="/search") Search
			li
				if(onEditor)
					| Editor
				else if(loggedIn)
					a(href="/new") New Post
				else if(onLogin)
					| Login
				else
					a(href="/login") Login
			.clear

	mixin formattedDate(date, excludeTime)
		- var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		- var period = 'AM';
		- var hours = date.getHours();
		- if (hours >= 12) { if (hours != 12) hours -= 12; period = 'PM'; }
		- var base = '';
		- var minutes = date.getMinutes().toString();
		- if(minutes.length == 1) minutes = '0' + minutes;
		- if (!excludeTime)	{ base = hours + ':' + minutes + ' ' + period + ', '; }
		=base + date.getDate() + ' ' + months[date.getMonth()] + ', ' + date.getFullYear()

	block content
	.footer
		span Grisly Grotto v12.8. Site designed and coded by 
			a(href="mailto:chrispritchard.nz@gmail.com") Christopher Pritchard
			| , 2014