body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

    margin-left: auto;
    margin-right: auto;
    width: 1000px;

    background-color: #1e2125;
    color: #fff;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

a, a:visited {
    color: #9acc14;
    font-weight: 700;
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    color: inherit;
    padding: 6px 12px;
}

input[type=text], textarea {
    display: block;
    border: 1px solid #9acc14;
    border-radius: 4px;
    color: #9acc14;
    background-color: #292e33;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type=text]:focus, textarea:focus {
    border-color:#66afe9;
    outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input[type=submit], input[type=button] {
    transition: all .3s ease;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #9acc14;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6em;
    user-select: none;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: rgba(154,204,20,.1);
}

footer {
    clear: both;
    text-align: center;
}

.site-title {
    margin-bottom: 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

.post-title {
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
}

.post-summary {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.post-content {
    text-align: justify;
}

.prev-link {
    margin-top: 1em;
    float: left;
}

.next-link {
    margin-top: 1em;
    float: right;
}