body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;

    background-color: #1e2125;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 25px;
        margin-right: 25px;
    }
}

nav {
    margin-left: 5px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

a, a:visited {
    color: #9acc14;
    font-weight: 700;
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    color: inherit;
    padding: 6px 12px;
}

input[type=text], input[type=password], textarea {
    display: block;
    border: 1px solid #9acc14;
    border-radius: 4px;
    background-color: #292e33;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color:#66afe9;
    outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input[type=submit], input[type=button] {
    transition: all .3s ease;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #9acc14;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6em;
    user-select: none;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: rgba(154,204,20,.1);
}

footer {
    clear: both;
    text-align: center;
}

.site-title {
    margin-bottom: 0;
    font-size: 2.5em;
    text-transform: uppercase;
}

.post-title {
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
}

.post-summary {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.post-content {
    text-align: justify;
}

.prev-link {
    margin-top: 1em;
    float: left;
}

.next-link {
    margin-top: 1em;
    float: right;
}

ul.years {
    list-style: none;
    padding: 0;
}

ul.years > li {
    float: left;
    margin-bottom: 2em;
}

ul.years > li > h3 {
    margin-bottom: 0;
}

ul.months {
    list-style: none;
    padding: 0;
}

ul.months li {
    margin-right: 2em;
}

div.stories-container {
    float: right;
    max-width: 500px;
}

ul.stories {
    list-style: none;
    padding: 0;
}

ul.stories h3 {
    margin-bottom: 0;
}

div.page-form {
    min-height: 1000px;
}

div.search-result h4 {
    margin-bottom: 0;
    text-transform: uppercase;
}

div.post-controls {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.post-controls form {
    display: inline;
    margin-right: 10px;
}

.comment-summary {
    font-size: 0.8em;
    margin-top: 15px;
    margin-bottom: 4px;
}

.comment-delete input {
    padding: 2px;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-comment-container {
    margin-top: 20px;
}

div.post-controls form input {
    width: 65px;
}

div.checkbox {
    margin-bottom: 6px;
}

div.checkbox input, div.checkbox label {
    display: inline;
    vertical-align: center;
}

div.editor-help {
    float: right;
    width: 80%;
}

div.post-submit {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.error {
    color: red;
}