body {
    background-color: #1D262F;
}

.site-container {
    background-color: #232E3A;
    color: #9CDCFE;
}

a, a:visited {
    color: #34FEBB;
}

.post-content a, .post-content a:visited {
    color: #B5CEA8;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #B5CEA8;
    background-color: #1D262F;
    color: #B5CEA8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color:#B5CEA8;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #B5CEA8
}

input[type=submit], input[type=button] {
    border: 1px solid #34FEBB;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: rgba(154,204,20,.1);
}

.control-panel {
    color: B5CEA8;
}

select {
    background-color: #1D262F;
}

@media only screen and (max-width: 1000px) {
    .control-panel .controls {
        color: black;
    }
}

#vis-background-colour {
    background-color: #1D262F;
}

#vis-primary-colour {
    background-color: #34FEBB;
}

#vis-secondary-colour {
    background-color: #B5CEA8;
}