<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SearchServiceName" value="hundredmile"/>
    <add key="SearchServiceAPIKey" value="4BBCD1C6F017B576EB2EAF19DB447FB6"/>
    <add key="SearchServiceIndexName" value="grislygrotto"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
